<head>
  <title>Express with mysql starter template</title>

  <link rel="stylesheet" href="/stylesheets/output.css" />
  <!-- <script src="https://unpkg.com/@tailwindcss/browser@4"></script> -->
</head>
