<div
  class="hero min-h-screen bg-gradient-to-br from-accent via-base-100 via-40% to-base-300 bg-opacity-90 text-center"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-center">
    <div class="max-w-2xl px-4 sm:px-0">
      <h1 class="mb-5 text-4xl sm:text-5xl lg:text-7xl xl:text-8xl font-bold">
        <p class="text-base-content text-left">Welcome to</p>
        <p
          class="text-accent text-left pb-2 underline decoration-4 sm:decoration-6"
        >
          VegardHaglund.dev
        </p>
      </h1>
      <p
        class="mb-5 text-lg sm:text-xl lg:text-2xl xl:text-3xl text-pretty text-base-content font-medium leading-relaxed sm:leading-loose"
      >
        Hi! I’m Vegard, a backend developer with a passion for building scalable
        and efficient server-side solutions. I specialize in Node.js and Express
        to create robust APIs that power modern web applications. With
        proficiency in both NoSQL (MongoDB, Redis) and SQL (MySQL) databases, I
        can design flexible and performant data architectures tailored to each
        project's needs.
      </p>
      <button
        class="btn btn-accent btn-md sm:btn-lg w-full sm:w-auto sm:btn-wide"
        onclick="document.getElementById('projects').scrollIntoView({ behavior: 'smooth' });"
      >
        Check out my projects!
      </button>
    </div>
  </div>
</div>
