<!DOCTYPE html>
<html lang="en" data-theme="nord">
  <%- include('./partials/head.ejs') %>
  <body >
    <main>
      <%- include('./partials/landing.ejs') %>
      <%- include('./partials/siteTracker.ejs', {stats: stats, formatSeconds: formatSeconds}) %>
  </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>


<script>
  let hasScrolled = false;

  window.addEventListener('scroll', () => {
    if (!hasScrolled) {
      plausible("scroll");
      hasScrolled = true;
    }
  });
</script>