/* Import Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import DaisyUI */
@import "daisyui";

/* Custom variables */
:root {
  --theme-light: light;
  --theme-dark: dark;
  --theme-nord: nord;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 40;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
